# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ============== #
#      TK2D      #
# ============== #
Assets/-tk2d
*-tk2d.asset*
Assets/Resources/tk2d/*
/*.apk

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
_ReSharper.*/
# ===================================#
# Visual Studio 2015 cache directory #
# ===================================#
/.vs/
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#-------
Reference/
/ios*
Assets/-tk2d.asset
/Assets/-tk2d.asset
/Assets/Resources/UserConfig.asset
/Assets/Resources/UserConfig.asset.meta
/ProjectSettings/ProjectVersion.txt
/Export
/Assets/StreamingAssets
/.idea
/Library
/Builds
/Assets/Plugins/Editor/JetBrains
/Assets/Plugins/Editor/JetBrains.meta
